<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalshi Trade Bot</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container" data-balance="<%= kalshi ? kalshi.balance : 0 %>">
        <div class="section">
            <% if (kalshi) { %>
                <p><strong>Cash:</strong>
                    <%= kalshi.balance %>&cent;
                </p>
                <p><strong>Portfolio:</strong>
                    <%= kalshi.portfolio_value %>&cent;
                </p>
                <% } else { %>
                    <p>Kalshi data not available.</p>
                    <% } %>
        </div>
        <div class="section">
            <form id="market-form">
                <input type="text" id="event-ticker" name="event-ticker" value="KXHIGHAUS-26MAR26" required>
                <button type="submit">Get</button>
            </form>
            <div id="market-result"></div>
        </div>
        <div class="section">
            <div id="order-forms-container"></div>
            <div style="display: flex; justify-content: space-between;">
                <button id="place-all-orders" style="display:none;">Place All Orders</button>
                <button id="clear-all-orders" style="display:none;">Cancel All Orders</button>
            </div>
            <div id="order-result"></div>
        </div>
        <div class="section">
            <div id="limits-result"></div>
        </div>
    </div>
    <script src="/js/orderForm.js"></script>
    <script src="/js/marketForm.js"></script>
</body>

</html>