body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #2c3e50;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Section Styling */
.section {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  text-align: left;
}

.section h2 {
  margin-top: 0;
  color: #2c3e50;
  font-size: 1.5rem;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
  color: #34495e;
  margin-bottom: -0.5rem;
}

input[type="text"],
input[type="number"],
select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button {
  padding: 0.8rem 1.2rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color: 0.3s;
  align-self: flex-start; /* Align button to the left */
}

button:hover {
  background-color: #2980b9;
}

/* Result Area Styling */
#market-result,
#order-result {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #eaf6ff;
  border: 1px solid #c1e0f7;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word;
}

.market-rows-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.market-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    align-items: center;
}

.market-row span {
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 3px;
}

.buy-recommendation {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.secondary-recommendation {
    text-align: center;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.2);
  }
}

.glow-animation {
  animation: glow 1.5s ease-in-out;
}
